**/*.key
**/*.db
**/*.pem
**/*.crt
.env
.env.local
.env.*.local
build/bin/
frontend/src/wailsjs/
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
/vendor/
go.work
.uv/
node_modules/
.pnpm-debug.log*
yarn-error.log*
frontend/dist/
frontend/build/
.idea/
*.iml
.vscode/
!.vscode/extensions.json
*.code-workspace
.DS_Store
Thumbs.db
*.log
tmp/
temp/